#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.user-interest-surveys {
  display: flex;
  justify-content: space-evenly;
  width: 85vw;
}

.form-confirm {
  border: 3px solid black;
  padding: 20px;
  text-align: left;
  background-color: lightgray;
}

.input-base {
  display: flex;
  margin-bottom: 9px;
}

.input-label {
  width: 180px;
}

.submit-btn {
  margin-top: 15px;
}
